@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Patua One', cursive;
    background-color: #a2c0e1;
}
.cabecera{
    display: flex;
    justify-content: center
}
#mide-viga{
    display: flex;
    justify-content: center;
    margin: -7px;
}
#mide-viga input{
    width: 14%;
    margin-block: 26px;
    padding: 5px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;   
}
#mide-viga  button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background-color: rgb(50, 85, 69);
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
    margin: 22px;

} 
canvas{
    background-color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.dato-fuerza{
    display: flex;
    margin: 16px;
    align-items: center;
    flex-direction: column;   
}
.datos-todos{
    font-size: 12px;
    display: flex;
    gap: 85px;
    justify-content: center;
}
.tabla-concentrada{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
}
.datos-todos input{
    width: 70%;
    margin-block: 11px;
    padding: 6px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;   
}
.datos-todos button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background-color: grey;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
    margin: 22px;
}
#calcular{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background-color: rgb(23, 136, 83);
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
    margin: 22px;    
}
.calculo-boton{
    display: flex;
    justify-content: center;
}
#boton-reiniciar{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background-color: rgb(23, 136, 83);
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
    margin: 22px;    
}
